name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: msbuild
      shell: cmd
      run: msbuild wavelet_spline\projects\wavelet_spline.sln

